@mixin flexcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin main {
  font-family: 'Rajdhani', sans-serif;
  @include flexcenter;
  flex: 1 1 auto;
  max-width: 100%;
  position: relative;
}

