$btn-color-1: navy!important;
// $card-color: #fdefef!important;
// $card-color: #8D99AE!important;
$card-color: #ece5d4!important;
// $subcard-color: rgb(134, 156, 179)!important;
$subcard-color: rgb(97, 136, 177)!important;
$comment-color: WHITESMOKE!important;
$delete-color: #EF5350!important;
$back-color: #76c893!important;
$border-color: rgb(170, 165, 165)!important;
$icon-color: black!important;